#map {
        width: 98%;
        height: 95%;
        margin-left:auto;
        margin-right:auto;      
      }

#map2 {
        width: 98%;
        height: 95%;
        margin-left:auto;
        margin-right:auto;      
      }
